body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  
  .login-container {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
  }
  
  .login-form h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd; /* Borde sutil */
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que padding no aumente el ancho */
  }
  
  button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave de color */
  }
  
  button[type="submit"] {
    background-color: #2f80ed; /* Ajusta el color según tus preferencias */
    margin-bottom: 20px;
  }
  
  
.login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .login-links a {
    color: #2f80ed;
    text-decoration: none;
    font-size: 0.9em;
  }
  
  .login-links a:hover {
    text-decoration: underline;
  }
  .login-logo {
    text-align: center;
    margin-bottom: 20px; /* Ajusta el margen según necesites */
  }
  
  .login-logo img {
    max-width: 70%; /* Asegura que el logo sea responsive y no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción del logo */
  }
  #message {
    color: white;
    background-color: #28a745; /* Color de fondo verde */
    border: 1px solid #1e7e34; /* Borde verde más oscuro */
    padding: 0.75rem 1.25rem; /* Padding interno */
    margin-top: 1rem; /* Espacio arriba */
    position: fixed; /* Fijo en la parte superior */
    top: -50px; /* Inicialmente fuera de la vista */
    left: 0;
    width: 100%; /* Ancho completo */
    box-sizing: border-box;
    text-align: center; /* Texto centrado */
    font-size: 1rem; /* Tamaño del texto */
    font-weight: 400;
    line-height: 1.5;
    border-radius: 0.25rem; /* Bordes redondeados */
    z-index: 1050; /* Asegurarse de que está por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

#message.visible {
    display: block; /* Se muestra para empezar la animación */
    animation: slideDown 1s ease; /* Aplica la animación */
    top: 42px;
}

@keyframes slideDown {
    0% {
        top: -50px; /* Inicia fuera de la vista */
    }
    100% {
        top: 42px; /* La posición final deseada */
    }
}



  @media screen and (max-width: 480px) {
    .login-container {
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
      padding: 0 40px;
      width: 100%;
      backdrop-filter: blur(10px);
      height: 100vh;
  }
  }